@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "AvenirNextLTPro";
}

main {
  background-color: $primary-color-black;
}

strong {
  font-weight: 600;
}
