@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "AvenirNextLTPro";
}

main {
  background-color: $primary-color-black;
  margin: -0.04rem 0; //A very small negative margin applied to remove the thin white line appearing between main section and header section.
}
