// Screen Size Variables
$tablet-size: 48rem;
$desktop-size: 80rem;
$large-desktop-size: 120rem;

//Global Colors
$primary-color-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #fff;

$secondary-color-darkblack: #000;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

//Mobile Fonts
$h1-mobile-size: 1.5rem;
$h2-mobile-size: 1.5rem;
$h3-mobile-size: 0.875rem;
$p-mobile-size: 0.8125rem;
$a-tags-mobile-size: 0.625rem;

//Desktop and Tablet Fonts
$h1-desk-tab-size: 3.75rem;
$h2-desk-tab-size: 2.25rem;
$h3-desk-tab-size: 1.5rem;
$p-desk-tab-size: 0.875rem;
$a-tags-desk-tab-size: 0.75rem;
