@use "../partials/fonts" as *;
@use "../partials/global" as *;
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.about {
  background-color: $primary-color-white;
  color: $primary-color-black;

  &__container {
    padding: 1.5rem 1rem 1rem;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
      width: 63.75rem;
      padding: 3rem 0 2.25rem;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: $h2-mobile-size;
    margin-bottom: 1rem;
    line-height: 2rem;
    font-weight: 600;

    @include tablet {
      font-size: $h2-desk-tab-size;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 2.25rem;
    }
  }

  &__band-container {
    @include tablet {
      margin: 0 3.75rem;
    }

    @include desktop {
      margin: 0 6rem;
    }
  }

  &__band-img {
    height: 60vw;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    vertical-align: bottom;
    //Get rid of white space below image

    @include tablet {
      margin-bottom: 2.25rem;
      height: 42vw;
    }

    @include desktop {
      height: 28rem;
    }
  }

  &__vocalist-testimonial {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0.0125rem;
    }

    @include desktop {
      font-size: 1.25rem;
      width: 75%;
      letter-spacing: 0.025rem;
    }
  }

  &__vocalist-description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  &__band-name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 1.5rem 0 1rem;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 3rem 0 1.5rem;
    }
  }

  &__band-description-container {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__band-description-1 {
    margin-bottom: 1rem;
    font-size: $h3-mobile-size;
    line-height: 1.125rem;
    letter-spacing: 0.035rem;

    @include tablet {
      font-size: 1rem;
      letter-spacing: normal;
      line-height: 1.375rem;
      margin-bottom: 0;
    }
  }

  &__band-description-2 {
    @extend .about__band-description-1;
    margin-bottom: 0;
  }
}
