@use "../partials/global" as *;
@use "../partials/fonts" as *;
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.footer {
  background-color: $primary-color-black;
  color: $primary-color-white;
  font-size: 0.875rem;

  &__outer-container {
    padding: 1.5rem 1rem 1rem;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
      width: 63.75rem;
      padding: 3rem 0 2.25rem;
      margin: 0 auto;
    }
  }

  &__inner-container {
    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__title-icon-container {
    @include tablet {
      display: flex;
      align-items: baseline;
    }
  }

  &__title {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 0;
      margin-right: 2.8vw;
    }

    @include desktop {
      margin-right: 2.25rem;
    }
  }

  &__icons-container {
    display: flex;
    gap: 2rem;
  }

  &__icons-img {
    height: 1.25rem;
    object-fit: contain;
  }

  &__logo--hidden-mobile {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__logo--hidden-tab {
    margin: 3rem 0 1.5rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: $p-mobile-size;

    @include tablet {
      margin-top: 2rem;
    }
  }
}

.contacts {
  @include tablet {
    display: flex;
  }

  &__info {
    & > * {
      margin-bottom: 1.5rem;
    }
    @include tablet {
      &:first-of-type {
        margin-right: 5vw;
      }

      &:nth-of-type(2) {
        margin-right: 8vw;
      }
    }

    @include tablet {
      &:first-of-type {
        margin-right: 5%;
      }

      &:nth-of-type(2) {
        margin-right: 10%;
      }
    }
  }

  &__name {
    margin: 1.5rem 0 0;
  }

  // &__company {
  //   margin-bottom: 1rem;
  // }

  // &__address {
  // }
}
