@use "../partials/global" as *;
@use "../partials/variables" as *;
@use "../partials/fonts" as *;
@use "../partials/mixins" as *;

.header {
  background-color: $primary-color-black;

  &__container {
    @include tablet {
      display: flex;
      padding: 0 2.25rem;
      gap: 4rem;
      align-items: center;
    }

    @include desktop {
      width: 63.75rem;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    margin: 1.25rem 0 1.25rem;

    @include tablet {
      display: block;
      margin: 0;
    }
  }

  &__nav-items {
    display: flex;
    list-style: none;

    @include tablet {
      gap: 3rem;
    }
  }

  &__nav-item {
    width: 50%;
    padding-bottom: 0.75rem;
    text-align: center;

    @include tablet {
      width: 100%;
      padding-bottom: 0;
      padding: 1.5rem 0;
    }

    &:hover {
      border-bottom: 0.25rem solid #fff;
    }

    &--active {
      font-weight: 600;
      border-bottom: 0.25rem solid #fff;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $primary-color-white;
    font-size: 0.875rem;

    @include tablet {
      vertical-align: middle;
    }

    &--unselected {
      color: $secondary-color-mercury;
    }

    &--padding-left {
      padding-left: 1rem;

      @include tablet {
        padding-left: 0;
      }
    }

    &--padding-right {
      padding-right: 1rem;

      @include tablet {
        padding-right: 0;
      }
    }
  }
}
