@use "../partials/global" as *;
@use "../partials/variables" as *;
@use "../partials/fonts" as *;
@use "../partials/mixins" as *;

.header {
  background-color: $primary-color-black;

  &__img-container {
    display: flex;
    justify-content: center;
  }

  &__logo {
    display: inline-block;
    margin: 0.75rem 0 0.75rem;
  }

  &__nav-items {
    display: flex;
  }

  &__nav-item {
    width: 50%;
    padding-bottom: 0.75rem;
    text-align: center;

    &--active {
      font-weight: 600;
      border-bottom: 0.25rem solid #fff;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $primary-color-white;

    &--unselected {
      color: $secondary-color-mercury;
    }
  }
}
