@use "../partials/global" as *;
@use "../partials/variables" as *;
@use "../partials/fonts" as *;
@use "../partials/mixins" as *;

.header {
  background-color: $primary-color-black;
}

.header__container {
  text-align: center;
  margin: 0 1rem;
}

.header__logo {
  display: inline-block;
}

.header__nav-items {
  display: flex;
}

.header__nav-item {
  width: 50%;
}
