* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "AvenirNextLTPro";
}

main {
  background-color: #323232;
}

strong {
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/font/AvenirNextLTPro-Regular.woff2), url(../../assets/font/AvenirNextLTPro-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/font/AvenirNextLTPro-Demi.woff2), url(../../assets/font/AvenirNextLTPro-Demi.woff);
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/font/AvenirNextLTPro-Bold.woff2), url(../../assets/font/AvenirNextLTPro-Bold.woff);
  font-weight: 700;
}
.header {
  background-color: #323232;
}
@media (min-width: 48rem) {
  .header__container {
    display: flex;
    padding: 0 2.25rem;
    gap: 4rem;
    align-items: center;
  }
}
@media (min-width: 80rem) {
  .header__container {
    width: 63.75rem;
    padding: 0;
    margin: 0 auto;
  }
}
.header__img-container {
  display: flex;
  justify-content: center;
}
.header__logo {
  display: inline-block;
  margin: 1rem 0 1rem;
}
@media (min-width: 48rem) {
  .header__logo {
    display: block;
    margin: 0;
  }
}

.nav__items {
  display: flex;
  list-style: none;
}
@media (min-width: 48rem) {
  .nav__items {
    gap: 3rem;
  }
}
@media (min-width: 80rem) {
  .nav__items {
    gap: 2rem;
  }
}
.nav__item {
  width: 50%;
  padding-bottom: 0.75rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .nav__item {
    width: 100%;
    padding-bottom: 0;
    padding: 1.5rem 0;
  }
}
.nav__item:hover {
  border-bottom: 0.25rem solid #fff;
}
.nav__item--active {
  font-weight: 600;
  border-bottom: 0.25rem solid #fff;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
}
.nav__link:hover {
  color: #fff;
}
.nav__link:active {
  color: #fff;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .nav__link {
    vertical-align: middle;
  }
}
.nav__link--unselected {
  color: #e1e1e1;
}
.nav__link--padding-left {
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .nav__link--padding-left {
    padding-left: 0;
  }
}
.nav__link--padding-right {
  padding-right: 1rem;
}
@media (min-width: 48rem) {
  .nav__link--padding-right {
    padding-right: 0;
  }
}

.hero {
  background-color: #323232;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vw;
}
@media (min-width: 80rem) {
  .hero {
    max-height: 48rem;
    margin: 0 auto;
  }
}
@media (min-width: 120rem) {
  .hero {
    max-width: 120rem;
  }
}
.hero__container {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 48rem) {
  .hero__container {
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__container {
    padding: 0;
    max-height: 48rem;
  }
}

.hero__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  opacity: 100%;
  color: #fff;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 80rem) {
  .hero__title {
    width: 63.75rem;
    margin: 0 auto;
  }
}

.about {
  background-color: #fff;
  color: #323232;
}
.about__container {
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .about__container {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .about__container {
    width: 63.75rem;
    padding: 3rem 0 2.25rem;
    margin: 0 auto;
  }
}
.about__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__title {
    font-size: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 48rem) {
  .about__band-container {
    margin: 0 3.75rem;
  }
}
@media (min-width: 80rem) {
  .about__band-container {
    margin: 0 6rem;
  }
}
.about__band-img {
  height: 60vw;
  width: 100%;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media (min-width: 48rem) {
  .about__band-img {
    margin-bottom: 2.25rem;
    height: 42vw;
  }
}
@media (min-width: 80rem) {
  .about__band-img {
    height: 28rem;
  }
}
.about__vocalist-testimonial {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__vocalist-testimonial {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
  }
}
@media (min-width: 80rem) {
  .about__vocalist-testimonial {
    font-size: 1.25rem;
    width: 75%;
    letter-spacing: 0.025rem;
  }
}
.about__vocalist-description {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.about__band-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 1.5rem 0 1rem;
}
@media (min-width: 48rem) {
  .about__band-name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 3rem 0 1.5rem;
  }
}
@media (min-width: 48rem) {
  .about__band-description-container {
    display: flex;
    gap: 1.5rem;
  }
}
.about__band-description-1, .about__band-description-2 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.035rem;
}
@media (min-width: 48rem) {
  .about__band-description-1, .about__band-description-2 {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
}
.about__band-description-2 {
  margin-bottom: 0;
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__outer-container {
  padding: 1.5rem 1rem 0;
}
@media (min-width: 48rem) {
  .photo-gallery__outer-container {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .photo-gallery__outer-container {
    width: 63.75rem;
    padding: 3rem 0 2.25rem;
    margin: 0 auto;
  }
}
.photo-gallery__title {
  color: #323232;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 48rem) {
  .photo-gallery__img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
}
@media (min-width: 80rem) {
  .photo-gallery__img-container {
    gap: 1.5rem;
  }
}
.photo-gallery__img {
  width: 100%;
  vertical-align: top;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .photo-gallery__img {
    width: calc(33.3333333333% - 2vw);
    margin: 0;
  }
}
@media (min-width: 80rem) {
  .photo-gallery__img {
    width: 31.75%;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.footer__outer-container {
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .footer__outer-container {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__outer-container {
    width: 63.75rem;
    padding: 3rem 0 2.25rem;
    margin: 0 auto;
  }
}
@media (min-width: 48rem) {
  .footer__inner-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media (min-width: 48rem) {
  .footer__title-icon-container {
    display: flex;
    align-items: baseline;
  }
}
.footer__title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
}
@media (min-width: 80rem) {
  .footer__title {
    margin-right: 2.6rem;
  }
}
.footer__icons-container {
  display: flex;
  gap: 2rem;
}
.footer__icons-img {
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__logo--hidden-mobile {
  display: none;
}
@media (min-width: 48rem) {
  .footer__logo--hidden-mobile {
    display: block;
  }
}
.footer__logo--hidden-tab {
  margin: 3rem 0 1.5rem;
}
@media (min-width: 48rem) {
  .footer__logo--hidden-tab {
    display: none;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    margin-top: 2rem;
  }
}

@media (min-width: 48rem) {
  .contacts {
    display: flex;
  }
}
.contacts__info > * {
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .contacts__info:first-of-type {
    margin-right: 2.5rem;
  }
  .contacts__info:nth-of-type(2) {
    margin-right: 4rem;
  }
}
@media (min-width: 80rem) {
  .contacts__info:first-of-type {
    margin-right: 3.5rem;
  }
  .contacts__info:nth-of-type(2) {
    margin-right: 5.5rem;
  }
}
.contacts__name {
  margin: 1.5rem 0 0;
}

.comment-section {
  background-color: #fff;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 48rem) {
  .comment-section {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media (min-width: 80rem) {
  .comment-section {
    padding: 3rem 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .comment-section__container {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.comment-section__title {
  color: #323232;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .comment-section__title {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
  }
}
.comment-section__image-comment-wrapper {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 48rem) {
  .comment-section__image-comment-wrapper {
    margin: 0 3.75rem;
  }
}
@media (min-width: 80rem) {
  .comment-section__image-comment-wrapper {
    margin: 0 16rem;
  }
}
.comment-section__avatar-container {
  max-width: 2.25rem;
  height: 2.25rem;
  margin-top: 1.375rem;
}
@media (min-width: 48rem) {
  .comment-section__avatar-container {
    max-width: 3rem;
    height: 3rem;
  }
}
.comment-section__avatar-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.comment-form {
  width: 100%;
}
.comment-form__name-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.25rem;
}
.comment-form__name-label {
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.125rem;
  font-weight: 600;
  color: #afafaf;
}
.comment-form__name {
  font-family: "AvenirNextLTPro";
  max-height: 2.25rem;
  padding: 0.75rem;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
}
.comment-form__name::-moz-placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__name:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__name::placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__name--active {
  background-color: white;
  border: 1px solid #000;
}
@media (min-width: 48rem) {
  .comment-form__name {
    max-height: 3rem;
    padding: 1rem;
  }
}
.comment-form__comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.25rem;
}
.comment-form__comment-label {
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.125rem;
  font-weight: 600;
  color: #afafaf;
}
.comment-form__comment {
  font-family: "AvenirNextLTPro";
  padding: 0.75rem;
  font-size: 0.875rem;
  height: 6rem;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  resize: none;
}
.comment-form__comment::-moz-placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__comment:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__comment::placeholder {
  font-size: 0.875rem;
  color: #000;
}
.comment-form__comment--active {
  background-color: white;
  border: 1px solid #000;
}
@media (min-width: 48rem) {
  .comment-form__comment {
    padding: 1rem;
  }
}
.comment-form__button {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.625rem 2rem;
  background-color: #323232;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 100%;
  border: none;
  min-width: 9.375rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .comment-form__button {
    display: block;
    width: auto;
    margin-left: auto;
  }
}
.comment-form__error {
  font-size: 0.875rem;
  color: red;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.comment-array {
  background-color: #fff;
}
@media (min-width: 48rem) {
  .comment-array {
    margin: 0 3.75rem;
  }
}
@media (min-width: 80rem) {
  .comment-array {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.comment-array__container {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 80rem) {
  .comment-array__container {
    margin: 0 16rem;
  }
}
.comment-array__avatar-container {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .comment-array__avatar-container {
    width: 3rem;
    height: 3rem;
  }
}
.comment-array__container-no-image {
  flex: 1;
}
.comment-array__name-date-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.comment-array__name {
  font-size: 0.875rem;
  font-weight: 600;
}
.comment-array__date {
  font-size: 0.875rem;
  color: #e1e1e1;
  font-weight: 600;
}
.comment-array__comment {
  width: auto;
  font-size: 0.875rem;
  line-height: 1.375rem;
}/*# sourceMappingURL=bio.css.map */